@media (min-width: 768px) {
    .nav-bar{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .nav-bar ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap:2rem;
    }

    .menu {
        display: none;
    }
}    